.logos-smartcom {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/smartcom.png");
    width: auto;
    height: auto
}

.logos-portugaltelecom {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/portugaltelecom.png");
    width: auto;
    height: auto
}

.logos-megafon {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/megafon.png");
    width: auto;
    height: auto
}

.logos-facebook {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/facebook.png");
    width: auto;
    height: auto
}

.logos-twitter {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/twitter.png");
    width: auto;
    height: auto
}

.logos-soundcloud {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/soundcloud.png");
    width: auto;
    height: auto
}

.logos-here-com {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/here-com.png");
    width: auto;
    height: auto
}

.logos-box {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/box.png");
    width: auto;
    height: auto
}

.logos-ea {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/ea.png");
    width: auto;
    height: auto
}

.logos-ebay {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/ebay.png");
    width: auto;
    height: auto
}

.logos-cuttherope {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/cuttherope.png");
    width: auto;
    height: auto
}

.logos-wikipedia {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/wikipedia.png");
    width: auto;
    height: auto
}

.logos-wired {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/wired.png");
    width: auto;
    height: auto
}

.logos-terra {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/terra.png");
    width: auto;
    height: auto
}

.logos-airbnb {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/airbnb.png");
    width: auto;
    height: auto
}

.logos-disney {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/disney.png");
    width: auto;
    height: auto
}

.logos-telefonica {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/telefonica.png");
    width: auto;
    height: auto
}

.logos-dt {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/dt.png");
    width: auto;
    height: auto
}

.logos-lg {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/lg.png");
    width: auto;
    height: auto
}

.logos-qualcomm {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/qualcomm.png");
    width: auto;
    height: auto
}

.logos-zte {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/zte.png");
    width: auto;
    height: auto
}

.logos-telenor {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/telenor.png");
    width: auto;
    height: auto
}

.logos-americamovil {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/americamovil.png");
    width: auto;
    height: auto
}

.logos-tcl {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/tcl.png");
    width: auto;
    height: auto
}

.logos-telecomitalia {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/telecomitalia.png");
    width: auto;
    height: auto
}

.logos-chinaunicom {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/chinaunicom.png");
    width: auto;
    height: auto
}

.logos-kddi {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/kddi.png");
    width: auto;
    height: auto
}

.logos-sprint {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/sprint.png");
    width: auto;
    height: auto
}

.logos-singtel {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/singtel.png");
    width: auto;
    height: auto
}

.logos-etisalat {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/etisalat.png");
    width: auto;
    height: auto
}

.logos-koreatelecom {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/koreatelecom.png");
    width: auto;
    height: auto
}

.logos-vimpelcom {
    background: url("http://mozorg.cdn.mozilla.net/media/img/firefox/partners/logos/light/vimpelcom.png");
    width: auto;
    height: auto;
}
.mwc-logo{
    background-image: url(http://mozorg.cdn.mozilla.net/media/img/firefox/partners/mwc-logo.png);
    width: auto;
    height: auto;
    display: inline-block;
    text-indent: -99999px;
    position: absolute;
    top: 0;
    left: 0
}