.topbar {
    width: 100%;
    height: 26px;
    background: #f5f5f5;
    background: -moz-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5');
    border-bottom: 1px solid #dcdcdc;
    _overflow: hidden;
}