.test-01 {
    background: url('https://i.alipayobjects.com/e/201301/25DFxqiuiC.png');
}

.test-02 {
    background: url('https://i.alipayobjects.com/combo.jpg?d=apps/24&t=10015,10017');
    background-position: 10px 10px;
}

.test-02-01 {
    background: url('https://i.alipayobjects.com/e/201301/25DFxqiuiC.png');
    background-position: 10em 10em;
}

.test-02-02 {
    background: url('https://i.alipayobjects.com/combo.jpg?d=apps/24&t=10017');
    background-position: left 0;
}