@media screen, projection {
    html {
        abackground: #fffef0;
        color: #300;
    }

    body {
        max-width: 35em;
        margin: 0 auto;
    }
}

@media print {
    html, .test {
        abackground: #fff;
        color: #000;
    }

    body {
        padding: 1in;
        border: 0.5pt solid #666;
    }

    .test {
        color: #fff;
        padding: 10px;
    }
}