@media screen, projection{ html
  
  {
    color:#300;
  }
  body

{
    max-width: 35em;
    margin: 0 auto;


}
  }

@media print
{
              html {
              color: #000;
              }
              body {
              padding: 1in;
              border: 0.5pt solid #666;
              }
}